{% extends "app/base.html" %}

{% block content %}
    <div class="header clearfix">
        <nav>
            <ul class="nav pull-right">
                <li role="presentation">
                    {%if request.session.user.email%}
                        <a href="{% url "app:logout" %}">Logout {{request.session.user.email}}</a>
                    {%else%}
                        <a href="{% url "app:login" %}">Login</a>
                    {%endif%}
                </li>
            </ul>
        </nav>
    </div>
    <div class="">
        {% for forecast in object_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ forecast.day|date }}</b>
                </div>
                <div class="panel-body">
                    <p><i>{{ forecast.description }}</i></p>
                    <b>Temperatures:</b>
                    <span class="label label-danger">{{ forecast.temperature_high }}</span>
                    <span class="label label-info">{{ forecast.temperature_low }}</span>
                </div>
            </div>
        {% empty %}
            <div class="well well-lg">
                <i>We don't have any forecasts yet.</i>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <ul class="pagination pagination-lg">
            <li>
                {% if page_obj.has_previous %}
                    <a href="/dashboard?page={{ page_obj.previous_page_number }}" aria-label="Previous">previous</a>
                {% endif %}
                </a>
            </li>
            <li class="active">
                <a href="#">
                    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </a>
            </li>
            {% if page_obj.has_next %}
                <li>
                    <a href="/dashboard?page={{ page_obj.next_page_number }}" aria-label="Next">next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
