{% extends "app/base.html" %}

{% block content %}
    <div class="header clearfix">
        <nav>
            <ul class="nav pull-right">
                <li role="presentation">
                    {%if request.session.user.email%}
                        <a href="{% url "app:logout" %}">Logout {{request.session.user.email}}</a>
                    {%else%}
                        <a href="{% url "app:login" %}">Login</a>
                    {%endif%}
                </li>
            </ul>
        </nav>
    </div>
    <div class="jumbotron">
        <h1>WeatherApp</h1>
        <p class="lead">Get the latest weather forecast for the city you are interested in</p>
        <p><a class="btn btn-lg btn-success" href="{% url 'app:register' %}" role="button">Register now</a></p>
    </div>
{% endblock %}
